<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>About Us</h2>
			<p>Elite Aircraft Interiors opened its doors in 2005 under the skills and knowledge of owner Arturo Navas. Starting his career in 1980, Arturo went on to building a name for himself for creating luxurious interiors for privately owned aircrafts. From all his experiences and business ventures he opened Elite Aircraft Interiors with the illusion of being able to provide the best service for aircraft interior designing for those looking for quality workmanship.
			<br><br>Elite Aircraft Interiors prides itself for holding the reputation of classic, elegant, and unique custom design work. The company handles each relationship one-on-one to ensure that the customers wants and needs are fulfilled.
			<br><br>Elite Aircraft Interiors makes it a point to have a wide variety of leather, fabrics, ultra-leather, carpet, and wood veneer designs fit to meet each customer's desire. The company believes that each individual wishes to show their personal style within these aircrafts. Quality work is very important for the company and Arturo stands firmly behind his product and designs. Elite Aircraft Interiors can proudly say that it has handcrafted some of the most beautiful aircraft interiors flying out there.
			<br><br>But that's just the beginning. </p>
			<div align="center" class="image.fit">
        			<img src="assets/images/gym1.jpg" style="height: 30%; width: 30%; padding: 10px 10px 10px 10px;" /><img src="assets/images/gym2.jpg" style="height: 30%; width: 30%; padding: 10px 10px 10px 10px;" /><img src="assets/images/gym4.jpg" style="height: 30%; width: 30%; padding: 10px 10px 10px 10px;" />

			</div>
		</header>
		<!--<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>-->
	</div>
</section>
